distribution/contents/conf/wso2/ClassloaderEnvironments.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Thu Jan 14 2016 12:21:44 GMT+0530 (IST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="ClassloaderEnvironments">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="DelegatedEnvironments">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="DelegatedEnvironment" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Name" type="xs:string"></xs:element>
                                                               <xs:element name="DelegatedPackages">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="DelegatedPackage" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                               <xs:element name="DelegatedResources">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="DelegatedResource" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="ExclusiveEnvironments" minOccurs="0">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="ExclusiveEnvironment" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Name" type="xs:string"></xs:element>
                                                               <xs:element name="ClassPaths">
                                                                     <xs:complexType>
                                                                           <xs:sequence>
                                                                                 <xs:element name="ClassPath" maxOccurs="unbounded" type="xs:string"></xs:element>
                                                                           </xs:sequence>
                                                                     </xs:complexType>
                                                               </xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>